<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Netflix.</h1>
              <h3>Intégrations de données Netflix.</h3>
          </div>
          <h6 class="category category-absolute">Groupe 6 :
             Muthuvel, Nabila, Arnaud, Ryan.
             </h6>
      </div>
  </div>

  <div class="main">
 
      <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>
    
      <div class="section" id="notifications">
          <div class="container">
            <h4>Notifications</h4>
          </div>
          <app-notification></app-notification>
      </div>
      <app-typography></app-typography>

      <div class="section">
          <div class="container text-center">
              <div class="row justify-content-md-center">
                  <div class="col-md-12 col-lg-8">
                      <h2 class="title">Completed with examples</h2>
                      <h5 class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful Bootstrap 4 ui kit.</h5>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
          <div class="container login-page">
            <div class="row">
              <div class="col-md-4 content-center ml-auto mr-auto">
                  <div class="card card-login card-plain">
                      <form class="form" method="" action="">
                          <div class="header header-primary text-center">
                              <div class="logo-container">
                                  <img src="assets/img/now-logo.png" alt="">
                              </div>
                          </div>
                          <div class="content">
                          
                     
                          </div>
                     
                       
                        
                      </form>
                  </div>
              </div>
            </div>
          
          </div>
      </div>
     
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
         
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer>
</div>
