{% extends "landing.html" %}
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    {% block content %}
    <h1>Quels sont les genres des films les plus vus sur la plateforme ?</h1>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            <td>{{ item['_id'] }}</td>
            <td>{{ item['nb'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  {% endblock %}
 
